h1
{
	text-align: justify;
}
body
{
	background-image: url(dark1.jpg);
	background-size: 955px 1080px;
	background-repeat: no-repeat;
	background-attachment: fixed;	
	
}
p
{
	
	background-color: white;
	color: black;
	//text-shadow: 0 0 2px black;
	//text-shadow: -1px 0 black, 1px 0 black, 1px 0 black, 0 -1px black;
	//text-shadow: 3px 3px 3px black;
	

	font-size:11pt;

}
p:hover
{
	color:blue;
}
p.red
{
	color:red;
}

